<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        width: 320px;
        height: 320px;
      }
    </style>
  </head>
  <body>
    <!-- TODO: UIなおす -->
    <script src="popup.js"></script>
    <h1>Repro Web SDK detected!</h1>
    <div>clipJSON</div>
    <table>
      <tbody>
        <tr>
          <th>Token</th>
          <td id="token">Token</td>
        </tr>
        <tr>
          <th>IDFV</th>
          <td id="idfv">IDFV</td>
        </tr>
        <tr>
          <th>User ID</th>
          <td id="user_id">User ID</td>
        </tr>
        <tr>
          <th>SDK Version</th>
          <td id="sdk_version">SDK Version</td>
        </tr>
      </tbody>
    </table>
    <div>Clip Log</div>
    <ul id="logs">
    </ul>
  </body>
</html>
